<content>
    <h1>Zufälliges Grimoire erstellen</h1>
    <form class="formList" asp-controller="Zauberbuch" asp-action="Generate" method="get">
        <label for="stufe">
            <span class="field">Stufe:</span>
            <select id="stufe" class="smooth" name="stufe">
                <option selected="selected" value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </label>
        <label for="intelligenz">
            <span class="field">Intelligenz:</span>
            <select id="intelligenz" class="smooth" name="intelligenz">
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option selected="selected" value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
            </select>
        </label>
        <label for="klasse">
            <span class="field" class="field">Klasse:</span>
            <select id="klasse" class="smooth" name="klasse">
                <option value="Zauberer">Zauberer</option>
                <option value="Kleriker">Kleriker</option>
                <option value="Elf">Elf</option>
                <option value="KlerikerLaunen">Launenhafter Kleriker</option>
            </select>
        </label>
        <label for="glueck">
            <span class="field">Glück:</span>
            <select id="glueck" class="smooth" name="glueck" >
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option selected="selected" value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </label>
        <label>
            <span class="field"></span>
            <input type="submit" value="Grimoire erstellen" />
        </label>
    </form>
</content>