
@{
    ViewData["Title"] = "DCC";
}

<a asp-controller="Character" asp-action="Index" class="btn btn-a smooth">Charaktergenerator</a><br />
<a asp-controller="Zauberbuch" asp-action="Index" class="btn btn-a smooth">Lvl 1 Zauberbuch</a>

